@model AuthApiBackend.DTOs.TemplatesDto.NotificationDto

<html>
    <body>
        <h1>Notification Email</h1>
        <p>Account Number : @Model.AccountNumber <br /> Password : Use your password</p>
        <p> Thank you for verifying your email, please use the allocated nummber when using our service, <br /> We are glad to have you</p>

    <footer>
        <p>If you encounter any challenges, please contact me by clicking on any of the link below and state your challenges :</p>
        <p><a href="https://wa.me/+27711626735">Whatsapp me</a></p>
        <p><a href="mailto:khabanajabulani0@gmail.com">Email me</a></p>
    </footer>
    </body>
</html>
